@model ToracGolf.ViewModels.Handicap.HandicapStatusViewModel

<div class="row">
    Season Handicap: <span id="SeasonHandicap">@Model.SeasonHandicap</span>
</div>
<div class="row">
    Career Handicap: <span id="CareerHandicap">@Model.CareerHandicap</span>
</div>