@model  ToracGolf.ViewModels.Navigation.TopNavViewModel

<!-- MAIN NAV -->
<div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                <i class="fa fa-outdent icon-custom"></i>
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars icon-custom"></i>
            </button>

            <div class="navbar-brand" title="Torac Golf">
                <img src="~/images/toracgolflogo.png" alt="Torac Golf" />
            </div>
        </div>

        @if (Model.ShowNavMenu)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-md hidden-lg">
                        <div class="bg-light-gray">
                            <form class="form-horizontal form-light p-15" role="form">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="I want to find ...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rounds</a>
                        <ul class="dropdown-menu">
                            <li><a asp-route="AddARound">Add A Round</a></li>
                            <li><a asp-route="ViewRounds">View Rounds</a></li>
                            <li><a href="http://wrapbootstrap.com/preview/WB021609D">Time Line of our rounds. (pages-timeline)</a></li>                            
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses</a>
                        <ul class="dropdown-menu">
                            <li><a asp-route="AddACourse">Add A Course</a></li>
                            <li><a asp-route="ViewCourses">View Courses</a></li>
                            <li><a asp-route="DeleteACourse">Delete A Course</a></li>
                            <li><a asp-route="CourseStats">View Course Stats</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seasons</a>
                        <ul class="dropdown-menu">
                            <li><a asp-route="AddASeason">Add A Season</a></li>
                            <li><a asp-route="DeleteASeason">Delete A Season</a></li>
                            <li><a asp-route="ChangeCurrentSeason">Change Current Season</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Settings</a>
                        <ul class="dropdown-menu">
                            <li><a asp-route="ChangePassword">Change Password</a></li>
                            <li><a asp-route="ChangeMySettings">Change My Settings</a></li>
                        </ul>
                    </li>
                </ul>

            </div><!--/.nav-collapse -->
        }
    </div>
</div>