@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "Course Stats";
}
@model  ToracGolf.ViewModels.Courses.CourseStatsViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section HandicapStatus{
    @Html.Partial("_HandicapStatus", Model.HandicapStatus)
}

@section Styles{
    <link href="~/css/courses.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jlinq/jlinq.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-animate.js"></script>
    <script src="~/js/angular/toracgolfapp.js"></script>
    <script src="~/js/angular/common/httprequestinterceptor.js"></script>
    <script src="~/js/angular/common/modaldirective.js"></script>
    <script src="~/js/angular/common/numberonlydirective.js"></script>
    <script src="~/js/angular/common/datepickerdirective.js"></script>
    <script src="~/js/angular/common/ValidationService.js"></script>
    <script src="~/js/angular/common/select2directive.js"></script>
}

Finish Course Stats

@*<section ng-app="toracApp" ng-cloak ng-controller="RoundAddController" ng-init="init()" class="slice slice-lg bg-image" style="background-image:url(images/backgrounds/RoundAdd.jpg);">

</section>*@