.DashboardViewActive {
    background-color: lightblue;
}

.DashboardViewNoActive {
    background-color: white;
}

#DashboardSection {
    padding-top: 20px !important;
    background-image: url(../images/backgrounds/Dashboard.jpg);
}
