.DashboardViewActive {
    background-color: #3498db;
    color: white;
}

    .DashboardViewActive:focus {
        color: white;
    }

.DashboardViewNoActive {
    background-color: white;
}

    .DashboardViewNoActive:focus {
        color: white;
    }

#DashboardSection {
    padding-top: 20px !important;
    background-image: url(../images/backgrounds/Dashboard.jpg);
}

#NewsFeedHeader {
    padding-bottom: 25px;
}

.NewsFeedBody {
    padding-top: 4px !important;
    height: 250px;
    overflow-y: auto;
}

.NewsFeedMenu {
    margin-left: 3px;
}

.SaveCommentDiv {
    padding-right: 1px !important;
}

.NewsFeedDescription {
    font-weight: bold;
}

.NewsFeedMenuDiv {
    cursor: pointer;
}

.NewsFeedCommentInput {
    width: 99%;
}

.SaveComment {
    padding-left: 2px !important;
}

.NewsFeedHr {
    margin-top: 3px !important;
}
