.NewsFeedCourseImage {
    max-height: 350px;
}

.LikePost {
    cursor: pointer;
}

.NewsFeedTypeActive {
    background-color: #3498db;
    color: white;
}

    .NewsFeedTypeActive .NewsFeedBadge {
        background-color: white !important;
        color: black !important;
    }

.NewsFeedBadgeHover:hover a .NewsFeedBadge {
    background-color: white !important;
    color: black !important;
}

.CommentIcon {
    padding-left: 25px;
    margin-top: 10px;
}

.commententer {
    padding-top: 5px;
    padding-left: 0px !important;
}

.commententertextbox {
    width: 100%;
    padding-left: 5px;
}

.NoPadding {
    padding-left: 0px !important;
}

.post-comments {
    padding-top: 0px;
    padding-right: 0px !important;
}

.NewsPostIcon {
    width: 115px;
}

.CommentRow {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.CommentContent {
    padding-left: 25px;
}

.commentuser {
    font-weight: bold;
}

.commentlike {
    color: #7f7f7f;
}

.CommentItemsContainer {
    background-color: rgb(246, 247, 248);
    margin-top: 30px;
    max-height: 300px;
    overflow-y: auto;
}

.commentLikeBtn {
    cursor: pointer;
    padding-left: 25px;
}

.CommentDate {
    margin-left: 15px;
}

.NewRoundUserImage {
    width: 75px;
    height: 75px;
}

.UserProfileComment {
    width: 50px;
    height: 50px;
}

.NewsFeedCommentDiv {
    margin-top: 3px;
}
