.NewsFeedCourseImage {
    max-height: 350px;
}

.LikePost {
    cursor: pointer;
}

.NewsFeedTypeActive {
    background-color: lightblue;
}

.CommentIcon {
    width: 120px;
    padding-left: 25px;
    margin-top: 10px;
}
