.NewsFeedCourseImage {
    max-height: 350px;
}

.LikePost {
    cursor: pointer;
}

.NewsFeedTypeActive {
    background-color: lightblue;
}

.CommentIcon {
    padding-left: 25px;
    margin-top: 10px;
}

.commententer {
    padding-top: 5px;
    padding-left: 0px !important;
}

.commententertextbox {
    width: 100%;
    padding-left: 5px;
}

.NoPadding {
    padding-left: 0px !important;
}

.post-comments {
    padding-top: 0px;
    padding-right: 0px !important;
}

.NewsPostIcon {
    width: 115px;
}
