.AlertDiv {
    padding: 5px !important;
}

.RoundAddSection {
    /*trying to smoosh the form (removing the default spacing for just round add)*/
    margin-bottom: 5px !important;
}

#RoundAddFieldSet {
    /*trying to smoosh the form (removing the default spacing for just round add)*/
    padding-top: 0px !important;
}

.Select2DropDown {
    width: 100%;
}

.star-rating {
    display: inline-block !important;
}

.RoundListingHeight {
    height: 200px !important;
}

.RoundListingImage {
    width: 250px !important;
    /*any element with this class should also use CourseListingHeight*/
}

.RoundDateFilter {
    display: inline-block;
}

.RoundDateFilterDiv {
    padding-left: 0px !important;
}

.RoundDelete {
    margin-top: -10px;
    text-align: right;
    cursor: pointer;
}
