.SeasonAddSection {
    /*trying to smoosh the form (removing the default spacing for just round add)*/
    margin-bottom: 5px !important;
}

#MakeCurrentSeason {
    display: inline-block !important;
    margin-right: 5px;
}

.SeasonDelete {
    margin-top: -10px;
    text-align: right;
    cursor: pointer;
}