@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "Sign Up";
}

@model  ToracGolf.ViewModels.Security.SignUpInViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(false))
}

@section PageDescription{
    Sign Up
}

<section class="slice slice-lg bg-image" style="background-image:url(images/backgrounds/SignUpBackground.jpg)">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                    <div class="wp-block default user-form user-form-alpha no-margin">
                        <div class="form-header">
                            <h2>Create your own account</h2>
                        </div>
                        <div class="form-body">
                            <form action="" id="frmRegister" class="sky-form">
                                <fieldset class="no-padding">
                                    <section class="">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="label">Email</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-envelope"></i>
                                                        <input type="email" name="email" placeholder="Email">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="label">First Name</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-user"></i>
                                                        <input type="text" name="firstname" placeholder="First Name">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="label">Last Name</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-user"></i>
                                                        <input type="text" name="lastname" placeholder="Last Name">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label">Password</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-lock"></i>
                                                        <input type="password" name="password" placeholder="Password">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label">Current Season Name</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-download"></i>
                                                        <input type="text" name="CurrentSeason" placeholder="Current Season" value="@DateTime.Now.Year">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label">State Where You Play The Most</label>
                                                    <label class="select">
                                                        <select name="HomeState">
                                                            <option value="1">New York</option>
                                                            <option value="2">Conn</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-8">
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-alt btn-icon btn-icon-right btn-icon-go pull-right" type="submit">
                                                    <span>Register now</span>
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>
                            </form>
                        </div>
                        <div class="form-footer">
                            <p>Already have an account? <a href="LogIn">Click here to sign in.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>