@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "Sign Up";
}

@model  ToracGolf.ViewModels.Security.SignUpInViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(false))
}

@section Styles{
    <link href="~/css/security.css" rel="stylesheet" />
}

<section class="slice slice-lg bg-image" style="background-image:url(images/backgrounds/SignUpBackground.jpg)">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                    <div class="wp-block default user-form user-form-alpha no-margin">
                        <div class="form-header">
                            <h2>Create your own account</h2>
                        </div>
                        <div class="form-body">
                            <form id="frmRegister" asp-route="SignUp" method="post" class="sky-form" enctype="multipart/form-data">
                                <fieldset class="no-padding">
                                    <section class="">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label asp-for="SignUpUserEntered.Email" class="label"></label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-envelope"></i>
                                                        <input type="email" name="Email" asp-for="SignUpUserEntered.Email" maxlength="100" />
                                                        <span asp-validation-for="SignUpUserEntered.Email" class="text-danger"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label asp-for="SignUpUserEntered.FirstName" class="label"></label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-user"></i>
                                                        <input type="text" name="FirstName" asp-for="SignUpUserEntered.FirstName" placeholder="First Name" maxlength="50">
                                                        <span asp-validation-for="SignUpUserEntered.FirstName" class="text-danger"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label asp-for="SignUpUserEntered.LastName" class="label"></label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-user"></i>
                                                        <input type="text" name="LastName" asp-for="SignUpUserEntered.LastName" placeholder="Last Name" maxlength="50">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="SignUpUserEntered.Password" class="label"></label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-lock"></i>
                                                        <input type="password" asp-for="SignUpUserEntered.Password" name="password" placeholder="Password" maxlength="100">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="SignUpUserEntered.PasswordReenter" class="label"></label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-lock"></i>
                                                        <input type="password" asp-for="SignUpUserEntered.PasswordReenter" name="PasswordReenter" placeholder="Re-enter Password" maxlength="100">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="SignUpUserEntered.CurrentSeason" class="label"></label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-download"></i>
                                                        <input type="text" name="CurrentSeason" asp-for="SignUpUserEntered.CurrentSeason" placeholder="Current Season" maxlength="50">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="SignUpUserEntered.HomeState" class="label"></label>
                                                    <label class="select">
                                                        <select name="HomeState" asp-for="SelectedState" asp-items="Model.StateListing"></select>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label">Profile Picture</label>
                                                    <label class="select">
                                                        <input type="file" id="UserProfilePicture" name="UserProfilePicture" />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="ValidationSummary form-group">
                                            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-8">
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-alt btn-icon btn-icon-right btn-icon-go pull-right" type="submit">
                                                    <span>Register now</span>
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>
                            </form>
                        </div>
                        <div class="form-footer">
                            <p>Already have an account? <a href="LogIn" class="ForceBlueColor">Click here to sign in.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>