 <!-- Standard image post example -->
<div class="post-item style2" *ngFor="#post of Posts">
    <div class="post-meta hidden-xs">
        <div class="date">
            <span class="icon"><i class="fa fa-calendar"></i></span>
            <span class="month">{{post.PostDate | date:'MMM'}}</span>
            <span class="day">{{post.PostDate | date:'dd'}}</span>
        </div>
        <div class="like-box">
            <a href="#" class="btn btn-block btn-xs btn-base btn-icon btn-heart">
                <span>{{post.LikeCount | number}}</span>
            </a>
        </div>
    </div>
    <div class="post-content-wr">

        <div class="post-meta-top">
            <div class="post-image">
                <img src="{{post.CourseImagePath}}" class="img-responsive NewsFeedCourseImage" alt="">
            </div>
            <h2 class="post-title">
                <a href="#">{{post.TitleOfPost}}</a>
            </h2>
        </div>
        <div class="post-content clearfix">
            <div class="post-tags">Posted in <a href="#">HOTELS</a>, <a href="#">SPECIAL PROMOS</a>, <a href="#">SUMMER</a></div>
            <div class="post-comments"><strong>{{post.CommentCount}}</strong>comments</div>
            <div class="post-desc">
                <p *ngFor="#body of post.BodyOfPost">
                    {{body}}
                </p>
            </div>
        </div>

    </div>
</div>
