@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "News Feed";
}
@model ToracGolf.ViewModels.Home.NewsFeedViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section HandicapStatus{
    @Html.Partial("_HandicapStatus", Model.HandicapStatus)
}

@section Styles{

}

@section Scripts{
<script src="~/lib/angular2/angular2-polyfills.js"></script>
<script src="~/lib/systemjs/dist/system.src.js"></script>
<script src="~/lib/rxjs/bundles/rx.js"></script>
<script src="~/lib/angular2/bundles/angular2.dev.js"></script>

<script>
    System.config({
        defaultJSExtensions: true,
        packages: {
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
    });

    System.baseURL = '/lib';

    System.import('./js/Angular2/NewsFeed/boot.js')
            .then(null, console.error.bind(console));
</script>
}

<my-app>Loading...</my-app>

@*<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                   <NewsFeed></NewsFeed>



                </div>


                <div class="col-md-3">
                    <!-- SIDEBAR - BLOG -->
                    <div class="sidebar">
                        <!-- Search blog -->
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Search our blog</span></h3>
                        </div>
                        <div class="widget">
                            <form class="form-light form-horizontal" role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search blog...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-base" type="button">Go</button>
                                    </span>
                                </div>
                            </form>
                        </div>

                        <!-- Categories -->
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Categories</span></h3>
                        </div>
                        <div class="widget">
                            <ul class="categories highlight">
                                <li><a href="#">Web design (23)</a></li>
                                <li><a href="#">Online business (100)</a></li>
                                <li><a href="#">Marketing strategy (7)</a></li>
                                <li><a href="#">Technology (33)</a></li>
                                <li><a href="#">About finance (123)</a></li>
                            </ul>
                        </div>

                        <!-- LATEST COMMENTS -->
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Latest comments</span></h3>
                        </div>
                        <div class="widget-container widget-recent widget-recent-boxed widget-recent-comments">
                            <div class="inner">
                                <ul>
                                    <li class="clearfix">
                                        <a href="#" class="post-thumb" hidefocus="true">
                                            <img src="images/temp/thumb-6.jpg" alt="">

                                        </a>
                                        <span class="comment-author"><a href="#" hidefocus="true">GECHI CHAN</a> commented</span>
                                        <span class="comment-entry">Sed molestie augue sit amet leo consequat posuere. Estibu lum ante ipsum primis in faucibus</span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#" class="post-thumb" hidefocus="true">
                                            <img src="images/temp/thumb-7.jpg" alt="">

                                        </a>
                                        <span class="comment-author"><a href="#" hidefocus="true">MAGGIE SAND</a> commented</span>
                                        <span class="comment-entry">Estibu lum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#" class="post-thumb" hidefocus="true">
                                            <img src="images/temp/thumb-8.jpg" alt="">

                                        </a>
                                        <span class="comment-author"><a href="#" hidefocus="true">VINCE JAMIESON</a> commented</span>
                                        <span class="comment-entry">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#" class="post-thumb" hidefocus="true">
                                            <img src="images/temp/thumb-9.jpg" alt="">

                                        </a>
                                        <span class="comment-author"><a href="#" hidefocus="true">KEIRA BENSON</a> commented</span>
                                        <span class="comment-entry">Vivamus hendrerit arcu seditur erat molestie vehicula. Rediters auctor neque eu tellus</span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#" class="post-thumb" hidefocus="true">
                                            <img src="images/temp/thumb-10.jpg" alt="">

                                        </a>
                                        <span class="comment-author"><a href="#" hidefocus="true">MICHAEL JONES</a> commented</span>
                                        <span class="comment-entry">Rediters auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- ARCHIVE -->
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Archive</span></h3>
                        </div>
                        <div class="widget">
                            <ul class="categories highlight">
                                <li><a href="#">July 2014</a></li>
                                <li><a href="#">June 2014</a></li>
                                <li><a href="#">May 2014</a></li>
                                <li><a href="#">April 2014</a></li>
                                <li><a href="#">March 2014</a></li>
                            </ul>
                        </div>

                        <!-- TAG CLOUD -->
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Tag cloud</span></h3>
                        </div>
                        <div class="widget">
                            <div class="tagcloud base clearfix">
                                <a href="#" hidefocus="true"><span>Rooms</span></a>
                                <a href="#" hidefocus="true"><span>Simple</span></a>
                                <a href="#" hidefocus="true"><span>Decorated</span></a>
                                <a href="#" hidefocus="true"><span>Wood</span></a>
                                <a href="#" hidefocus="true"><span>Furniture</span></a>
                                <a href="#" hidefocus="true"><span>Feature</span></a>
                                <a href="#" hidefocus="true"><span>Conditioning</span></a>
                                <a href="#" hidefocus="true"><span>Hotels</span></a>
                                <a href="#" hidefocus="true"><span>Glasses</span></a>
                                <a href="#" hidefocus="true"><span>Rooms</span></a>
                                <a href="#" hidefocus="true"><span>Simple</span></a>
                                <a href="#" hidefocus="true"><span>Decorated</span></a>
                                <a href="#" hidefocus="true"><span>Wood</span></a>
                                <a href="#" hidefocus="true"><span>Furniture</span></a>
                                <a href="#" hidefocus="true"><span>Feature</span></a>
                                <a href="#" hidefocus="true"><span>Conditioning</span></a>
                                <a href="#" hidefocus="true"><span>Hotels</span></a>
                                <a href="#" hidefocus="true"><span>Glasses</span></a>
                            </div>
                        </div>

                        <!-- CALENDAR -->
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Event calendar</span></h3>
                        </div>
                        <div class="widget">
                            <form action="" class="sky-form">
                                <div id="dpInline" class="hasDatepicker"><div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block;"><div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all"><a class="ui-datepicker-prev ui-corner-all" data-handler="prev" data-event="click" title="<i class=&quot;fa fa-chevron-left&quot;></i>"><span class="ui-icon ui-icon-circle-triangle-w"><i class="fa fa-chevron-left"></i></span></a><a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="<i class=&quot;fa fa-chevron-right&quot;></i>"><span class="ui-icon ui-icon-circle-triangle-e"><i class="fa fa-chevron-right"></i></span></a><div class="ui-datepicker-title"><span class="ui-datepicker-month">December</span>&nbsp;<span class="ui-datepicker-year">2015</span></div></div><table class="ui-datepicker-calendar"><thead><tr><th class="ui-datepicker-week-end"><span title="Sunday">Su</span></th><th><span title="Monday">Mo</span></th><th><span title="Tuesday">Tu</span></th><th><span title="Wednesday">We</span></th><th><span title="Thursday">Th</span></th><th><span title="Friday">Fr</span></th><th class="ui-datepicker-week-end"><span title="Saturday">Sa</span></th></tr></thead><tbody><tr><td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">1</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">2</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">3</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">4</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">5</a></td></tr><tr><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">6</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">7</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">8</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">9</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">10</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">11</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">12</a></td></tr><tr><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">13</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">14</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">15</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">16</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">17</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">18</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">19</a></td></tr><tr><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">20</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">21</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">22</a></td><td class=" ui-datepicker-days-cell-over ui-datepicker-current-day ui-datepicker-today" data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default ui-state-highlight ui-state-active ui-state-hover" href="#">23</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">24</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">25</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">26</a></td></tr><tr><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">27</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">28</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">29</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">30</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="11" data-year="2015"><a class="ui-state-default" href="#">31</a></td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td></tr></tbody></table></div></div>
                            </form>
                        </div>

                        <!-- Date Picker - Init JS -->
                        <script type="text/javascript">
                            $(function () {
                                // Inline datepicker
                                $('#dpInline').datepicker({
                                    dateFormat: 'dd.mm.yy',
                                    prevText: '<i class="fa fa-chevron-left"></i>',
                                    nextText: '<i class="fa fa-chevron-right"></i>'
                                });
                            });
                        </script>

                        <!-- TABS -->
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Tab widget</span></h3>
                        </div>
                        <div class="widget">
                            <div class="tabs-framed">
                                <ul class="tabs clearfix">
                                    <li><a href="#tab-1" data-toggle="tab">Comments</a></li>
                                    <li><a href="#tab-2" data-toggle="tab">Quick links</a></li>
                                </ul>

                                <div class="tab-content">
                                    <!-- Tab 1 -->
                                    <div class="tab-pane fade in active" id="tab-1">
                                        <div class="tab-body">
                                            <div class="widget-recent">
                                                <div class="inner">
                                                    <ul>
                                                        <li class="clearfix">
                                                            <a href="#" class="post-thumb" hidefocus="true">
                                                                <img src="images/temp/thumb-6.jpg" alt="">

                                                            </a>
                                                            <span class="comment-author"><a href="#" hidefocus="true">GECHI CHAN</a> commented</span>
                                                            <span class="comment-entry">Sed molestie augue sit amet leo consequat posuere. Estibu lum ante ipsum.</span>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="#" class="post-thumb" hidefocus="true">
                                                                <img src="images/temp/thumb-7.jpg" alt="">

                                                            </a>
                                                            <span class="comment-author"><a href="#" hidefocus="true">MAGGIE SAND</a> commented</span>
                                                            <span class="comment-entry">Estibu lum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</span>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="#" class="post-thumb" hidefocus="true">
                                                                <img src="images/temp/thumb-8.jpg" alt="">

                                                            </a>
                                                            <span class="comment-author"><a href="#" hidefocus="true">VINCE JAMIESON</a> commented</span>
                                                            <span class="comment-entry">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="#" class="post-thumb" hidefocus="true">
                                                                <img src="images/temp/thumb-9.jpg" alt="">

                                                            </a>
                                                            <span class="comment-author"><a href="#" hidefocus="true">KEIRA BENSON</a> commented</span>
                                                            <span class="comment-entry">Vivamus hendrerit arcu seditur erat molestie.</span>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="#" class="post-thumb" hidefocus="true">
                                                                <img src="images/temp/thumb-10.jpg" alt="">

                                                            </a>
                                                            <span class="comment-author"><a href="#" hidefocus="true">MICHAEL JONES</a> commented</span>
                                                            <span class="comment-entry">Rediters auctor neque eu tellus rhoncus ut eleifend.</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tab-2">
                                        <div class="tab-body">
                                            <div class="widget-recent">
                                                <div class="inner">
                                                    <ul class="recent">
                                                        <li>
                                                            <a href="#">Dorlorem ipsum et mea dolor sit amet, fierent adipisci iracundia est ei usu timeam persius ea</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Dorlorem ipsum et mea dolor sit amet, fierent adipisci iracundia est ei usu timeam persius ea</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Dorlorem ipsum et mea dolor sit amet, fierent adipisci iracundia est ei usu timeam persius ea</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Dorlorem ipsum et mea dolor sit amet, fierent adipisci iracundia est ei usu timeam persius ea</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Dorlorem ipsum et mea dolor sit amet, fierent adipisci iracundia est ei usu timeam persius ea</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
