@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "News Feed";
}
@model ToracGolf.ViewModels.Home.NewsFeedViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section HandicapStatus{
    @Html.Partial("_HandicapStatus", Model.HandicapStatus)
}

@section Styles{

}

@section Scripts{
<script src="~/lib/angular2/angular2-polyfills.js"></script>
<script src="~/lib/angular2/rx.umd.js"></script>
<script src="~/lib/angular2/angular2-all.umd.js"></script>

<script src="~/js/angular2/newsfeed/newsfeed.js"></script>
<script src="~/js/angular2/newsfeed/boot.js"></script>
}

<section class="slice slice-lg bg-image" style="background-image:url(images/backgrounds/SeasonAdd.jpg);">

    <my-app>Loading...</my-app>

</section>
