@{
    Layout = null;
}

<div class="col-md-9">

    <!-- Standard image post example -->
    <div class="post-item style2" *ngFor="#post of Posts">
        <NewsFeedPostItem [Post]="post" (LikeEvent)="Like($event)" (CommentSaveEvent)="SaveComment($event)" (ShowHideCommentEvent)="ShowHideComment($event)"></NewsFeedPostItem>
    </div>

</div>

<div class="col-md-3">
    <!-- SIDEBAR - BLOG -->
    <div class="sidebar">
        <!-- Search blog -->
        <div class="section-title-wr">
            <h3 class="section-title left"><span>Search News Feed</span></h3>
        </div>
        <div class="widget">
            <form class="form-light form-horizontal" role="form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search News Feed..." [(ngModel)]="SearchFilterText" (keyup.enter)="ReRunSearch()" />
                    <span class="input-group-btn">
                        <button class="btn btn-base" type="button" (click)="ReRunSearch()">Filter</button>
                    </span>
                </div>
            </form>
        </div>

        <!-- Categories -->
        <div class="section-title-wr">
            <h3 class="section-title left"><span>Categories</span></h3>
        </div>
        <div class="widget">
            <ul class="categories highlight">
                @*<li><a (click)="FilterByType(null)" [ngClass]="{NewsFeedTypeActive: ActiveFeedTypeId == null}" class="NewsFeedTypeActive">All ({{(NewCoursePostCount+NewRoundPostCount) | number}})</a></li>
                    <li><a (click)="FilterByType(0)" [ngClass]="{NewsFeedTypeActive: ActiveFeedTypeId == 0}">New Rounds ({{NewRoundPostCount | number}})</a></li>
                    <li><a (click)="FilterByType(1)" [ngClass]="{NewsFeedTypeActive: ActiveFeedTypeId == 1}">New Courses ({{NewCoursePostCount | number}})</a></li>*@
                <li class="NewsFeedBadgeHover"><a (click)="FilterByType(null)" [ngClass]="{NewsFeedTypeActive: ActiveFeedTypeId == null}" class="NewsFeedTypeActive">All <span class="badge NewsFeedBadge">{{CustomFormatterSvc.NumberPipe(NewCoursePostCount+NewRoundPostCount)}}</span></a></li>
                <li class="NewsFeedBadgeHover"><a (click)="FilterByType(0)" [ngClass]="{NewsFeedTypeActive: ActiveFeedTypeId == 0}">New Rounds <span class="badge NewsFeedBadge">{{CustomFormatterSvc.NumberPipe(NewRoundPostCount)}}</span></a></li>
                <li class="NewsFeedBadgeHover"><a (click)="FilterByType(1)" [ngClass]="{NewsFeedTypeActive: ActiveFeedTypeId == 1}">New Courses <span class="badge NewsFeedBadge">{{CustomFormatterSvc.NumberPipe(NewCoursePostCount)}}</span></a></li>
            </ul>
        </div>

        <div class="section-title-wr">
            <h3 class="section-title left"><span>Edit Settings</span></h3>
        </div>
        <div class="widget">
            <ul class="categories highlight">
                <li class="NewsFeedBadgeHover"><a href="@ToracGolf.Constants.ApplicationConstants.EditAndFindFriendsRouteName">Edit Friends <span class="badge NewsFeedBadge">{{FriendCount}}</span></a></li>
            </ul>
        </div>
    </div>
</div>
