@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "News Feed";
}
@model ToracGolf.ViewModels.Home.NewsFeedViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section HandicapStatus{
    @Html.Partial("_HandicapStatus", Model.HandicapStatus)
}

@section Styles{
    <link href="~/css/newsfeed.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts{
    <script src="~/lib/jlinq/jlinq.js" asp-append-version="true"></script>
    @*after beta 0 they broke many ie 11 features. The issue on github, they said add this shim for the time being until its officially fixed*@
    <script src="~/lib/angular2shims/shims_for_ie.js" asp-append-version="true"></script>
    <script src="~/lib/es6-shim/es6-shim.js" asp-append-version="true"></script>
    <script src="~/lib/systemjs/dist/system-polyfills.js" asp-append-version="true"></script>
    <script src="~/lib/angular2/angular2-polyfills.js" asp-append-version="true"></script>
    <script src="~/lib/systemjs/dist/system.js" asp-append-version="true"></script>
    <script src="~/lib/rxjs/bundles/rx.js" asp-append-version="true"></script>
    <script src="~/lib/angular2/bundles/angular2.dev.js" asp-append-version="true"></script>

    <script>
        System.config({
            defaultJSExtensions: true,
            packages: {
                app: {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });

        System.baseURL = 'lib';

        System.import('./js/Angular2/NewsFeed/boot.js')
                .then(null, console.error.bind(console));
    </script>
}

<section class="slice bg-white">
    @Html.Partial("_AngularTokenSet", Model.TokenSet)
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <NewsFeedPostContainer></NewsFeedPostContainer>
            </div>
        </div>
    </div>
</section>