@{
    Layout = null;
}

<div class="post-meta hidden-xs">
    <div class="date">
        <span class="icon"><i class="fa fa-calendar"></i></span>
        @*<span class="month">{{Post.PostDate | date:'MMM'}}</span>
            <span class="day">{{Post.PostDate | date:'dd'}}</span>*@
        <span class="month">{{CustomFormatterSvc.DatePipe(Post.PostDate, 'M')}}</span>
        <span class="day">{{CustomFormatterSvc.DatePipe(Post.PostDate, 'D')}}</span>
    </div>
    <div class="like-box">
        <div class="LikePost btn btn-block btn-xs btn-base btn-icon fa-thumbs-up" (click)="LikeClick(Post.Id, Post.FeedTypeId)">
            @*<span>{{Post.LikeCount | number}}</span>*@
            <span>{{CustomFormatterSvc.NumberPipe(Post.LikeCount)}}</span>
        </div>
    </div>
</div>
<div class="post-content-wr">
    <div class="post-meta-top">
        <div class="post-image">
            <img src="{{Post.CourseImagePath}}" class="img-responsive NewsFeedCourseImage" alt="">
        </div>
        <h2 class="post-title">
            <a href="ViewCourses?CourseId={{Post.CourseId}}" target="_blank">{{Post.TitleOfPost}}</a>
        </h2>
    </div>
    <div class="post-content clearfix">
        <div class="post-comments">
            @*<strong>{{Post.CommentCount | number}}</strong>*@
            <strong>{{CustomFormatterSvc.NumberPipe(Post.CommentCount)}}</strong>
            <div class="fa-comments CommentIcon NewsPostIcon btn btn-block btn-xs btn-base btn-icon">
                <div (click)="ShowHideComments(Post.Id, Post.FeedTypeId)">comments</div>
            </div>
        </div>
        <div class="post-desc">


            <p *ngIf="Post.FeedTypeId == 1">
                {{Post.BodyOfPost.NewCourseStory}}
            </p>

            <div *ngIf="Post.FeedTypeId == 0" class="row">
                <div class="col-xs-2">
                    <img class="NewRoundUserImage img-rounded" src="{{Post.BodyOfPost.UserImageUrl}}">
                </div>
                <div class="col-xs-5">
                    <p>
                        Adjusted Score: {{CustomFormatterSvc.NumberPipe(Post.BodyOfPost.AdjustedScore)}}
                    </p><p>
                        Round Handicap: {{CustomFormatterSvc.NumberPipe(Post.BodyOfPost.RoundHandicap)}}
                    </p>
                </div>
            </div>

        </div>

        <div class="CommentItemsContainer">
            <div *ngFor="#comment of Post.Comments" class="NewsFeedCommentDiv">
                <NewsFeedCommentItem (LikeCommentEvent)="LikeCommentBubble($event)" [Comment]="comment"></NewsFeedCommentItem>
            </div>
        </div>

        <div class="row commententer">
            <div class="col-xs-10">
                <input #PostComment class="commententertextbox" type="text" placeholder="Enter A Comment" maxlength="255" />
            </div>
            <div class="col-xs-2 NoPadding">
                <div class="fa-floppy-o btn btn-block btn-xs btn-base btn-icon" (click)="SaveComment(Post.Id, Post.FeedTypeId, PostComment.value, PostComment)">SAVE</div>
            </div>
        </div>
    </div>
</div>