@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "News Feed";
}
@model ToracGolf.ViewModels.Home.NewsFeedViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section HandicapStatus{
    @Html.Partial("_HandicapStatus", Model.HandicapStatus)
}

@section Styles{
    <link href="~/css/newsfeed.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jlinq/jlinq.js"></script>
    <script src="~/lib/es6-shim/es6-shim.js"></script>
    <script src="~/lib/angular2/angular2-polyfills.js"></script>
    <script src="~/lib/systemjs/dist/system.js"></script>
    <script src="~/lib/rxjs/bundles/rx.js"></script>
    <script src="~/lib/angular2/bundles/angular2.dev.js"></script>

    <script>
        System.config({
            defaultJSExtensions: true,
            packages: {
                app: {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });

        System.baseURL = 'lib';

        System.import('./js/Angular2/NewsFeed/boot.js')
                .then(null, console.error.bind(console));
    </script>
}

<section class="slice bg-white">
    @Html.Partial("_AngularTokenSet", Model.TokenSet)
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                    <NewsFeedPostContainer></NewsFeedPostContainer>

                </div>


                <div class="col-md-3">
                    <!-- SIDEBAR - BLOG -->
                    <div class="sidebar">
                        <!-- Search blog -->
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Search our blog</span></h3>
                        </div>
                        <div class="widget">
                            <form class="form-light form-horizontal" role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search blog...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-base" type="button">Go</button>
                                    </span>
                                </div>
                            </form>
                        </div>

                        <!-- Categories -->
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Categories</span></h3>
                        </div>
                        <div class="widget">
                            <ul class="categories highlight">
                                <li><a href="#">New Courses (23)</a></li>
                                <li><a href="#">New Rounds (100)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>