@{
    Layout = null;
}

<div class="CommentRowDisplay">

    <div class="row CommentRow">
        <div class="col-xs-12 CommentContent">
            <span class="commentuser">
               {{Comment.User}}:
            </span>{{Comment.CommentText}}
        </div>

        <div class="col-xs-3">
            Like <span><i class="fa fa-thumbs-o-up commentlike"></i></span>
        </div>
    </div>

</div>