@{
    Layout = null;
}

<div class="CommentRowDisplay">

    <div class="row CommentRow">

        <div class="col-xs-1">
            <img class="UserProfileComment" src="{{Comment.UserProfileUrl}}">
        </div>

        <div class="col-xs-11 CommentContent">
            <span class="commentuser">
               {{Comment.User}}:
            </span>{{Comment.CommentText}}
        </div>

        <div class="col-xs-10 commentLikeBtn" (click)="LikeComment(Comment.CommentId)">
            <span>Like </span><span><i class="fa fa-thumbs-o-up commentlike"></i></span>
            @*<span>({{(Comment.NumberOfLikes | number}})</span>*@
            <span>({{CustomFormatterSvc.NumberPipe(Comment.NumberOfLikes)}})</span>
            @*<span class="CommentDate">{{Comment.CommentDate | date:'medium'}}</span>*@
            <span class="CommentDate">{{CustomFormatterSvc.DatePipe(Comment.CommentDate, 'DT')}}</span>
        </div>
    </div>

</div>